<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot AI - Mika</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="chat-container">
        <header>
            <button id="theme-toggle">Переключить тему</button>
            <h1>Чат с ботом Mika</h1>
        </header>

        <div id="chat-box-container">
            <div id="chat-box" class="chat-box"></div>
            <div id="loading-indicator" class="loading-indicator"></div>
        </div>

        <div class="input-container">
            <input type="text" id="user-input" placeholder="Напишите ваше сообщение..."/>
            <button id="send-btn" disabled>Отправить</button>
        </div>

        <footer>
            <p>&copy 2025 Chatbot AI - Mika. Все права защищены.</p>
        </footer>
    </div>
    <script>
        const themeToggle = document.getElementById('theme-toggle')
        const body = document.body

        const savedTheme = localStorage.getItem('theme')
        if (savedTheme) {
            body.classList.add(savedTheme)
        }

        themeToggle.onclick = function () {
            body.classList.toggle('dark-mode')
            const currentTheme = body.classList.contains('dark-mode') ? 'dark-mode' : 'light-mode'
            localStorage.setItem('theme', currentTheme)
        }

        const sendButton = document.getElementById("send-btn")
        const userInput = document.getElementById("user-input")
        const loadingIndicator = document.getElementById("loading-indicator")
        const chatBox = document.querySelector(".chat-box")

        chatBox.style.display = 'none'
        sendButton.disabled = true
        userInput.addEventListener('input', function () {
            sendButton.disabled = !userInput.value.trim()
        })

        const sendMessage = async () => {
            const userMessage = userInput.value
            if (!userMessage.trim()) return

            chatBox.style.display = 'block'
            chatBox.innerHTML += `<div class="user-message">Вы: ${userMessage}</div>`

            chatBox.scrollTop = chatBox.scrollHeight

            loadingIndicator.style.display = 'block'
            chatBox.style.display = 'none'

            sendButton.disabled = true

            const response = await fetch("/chat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({message: userMessage})
            })

            const data = await response.json()

            if (data.response) {
                chatBox.innerHTML += `<div class="bot-message">Бот: ${data.response}</div>`
            } else {
                chatBox.innerHTML += `<div class="bot-message">Бот: Я не понял ваш запрос.</div>`
            }

            chatBox.scrollTop = chatBox.scrollHeight

            chatBox.style.display = 'block'

            loadingIndicator.style.display = 'none'
            sendButton.disabled = false

            userInput.value = ""
            chatBox.scrollTop = chatBox.scrollHeight
        }

        sendButton.onclick = sendMessage

        userInput.addEventListener('keypress', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault()
                sendMessage()
            }
        })
    </script>
</body>
</html>
